body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

#miniMap {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 250px;
    height: 250px;
    width: 400px;
    background: transparent;
    border: 1px solid black;
    visibility: hidden;
}

.custom-tooltip {
    background: rgba(0, 0, 0, 0.7);
    width: 200px;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: none;
}

.leaflet-tooltip:before {
    display: none !important;
}
